body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

#app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

body.white {
    background-color: white;
    color: black;
}

body.black {
    background-color: rgb(59, 56, 56);
    color: white;
}
